*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    border: solid 1px red;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: maroon;
    padding: 10px;
}

#logo-empresa{
    border: solid 1px red;

    height: 120px;
    
    display: flex;

    text-decoration: none;
    color: white;

}

#logo{
     height: 100px;
     width: 100px;

     margin-right: 20px;

}

#empresa{
    font-size: 40px;
}

nav .link-nav{

    margin: 0 10px;
    font-size: 30px;
    text-decoration: none;
    color: white;




font-weight:bold;

}
